<!DOCTYPE html>

<html>
    <head>
        <title>Shot Tracer</title>

        <link rel="stylesheet" type="text/css" href="../static/shottracer.css">
        <link rel="stylesheet" href="https://use.typekit.net/uug3sib.css">

        <script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.12.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

        <script src="../static/shottracer.js" type="module"></script>
    </head>

    <body>
        <div id="nav-bar">
            <p class="nav-bar-title body-text" id="nav-athlete"><a href="{{ url_for('home') }}" class="body-text nav-link">athlete</a></p>
            <p class="nav-bar-title body-text" id="nav-ai"><a href="{{ url_for('home') }}" class="body-text nav-link" id="nav-ai">AI</a></p>
            <p class="nav-bar-item body-text" id="nav-home"><a href="{{ url_for('home') }}" class="body-text nav-link">home</a></p>
            <p class="nav-bar-item body-text" id="nav-shot-tracer"><a href="#" class="body-text nav-link">shot tracer</a></p>
            <p class="nav-bar-item body-text" id="nav-about"><a href="{{ url_for('about') }}" class="body-text nav-link">about</a></p>
        </div>

        <div id="title">
            <h1 class="title-text">shot tracer</h1>
            <h1 id="output"></h1>
        </div>

        <div id="card-section">
            <div class="card" id="trainee-card">
                <h1 class="card-text">trainee video</h1>

                <label for="upload-trainee-input" class="card-input">upload video</label>
                
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" accept="video/*" id="upload-trainee-input" name="file" />
                </form>

                <video autoplay muted preload="none" class="uploaded-video" id="trainee-video">
                    <source src="" id="trainee-source" type="video/mp4">
                </video>
            </div>

            <div class="card" id="coach-card">
                <h1 class="card-text">coach video</h1>

                <div>
                    <button class="card-button" id="show-serve-button">tennis serve</button>
                    <button class="card-button" id="show-tt-button">table tennis</button>
                </div>

                <video autoplay muted preload="none" class="uploaded-video" id="coach-video">
                    <source src="" id="coach-source" type="video/mp4">
                </video>
            </div>
        </div>

        <div class="card" id="convert-card">
            <h1 class="card-text">convert to 3D overlay</h1>
            <button class="card-button" id="convert-button">convert</button>

            <div id="frames">
                <iframe id="trainee-fbx" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/791e22a2678e4e05b56df1107dd1f8e8/embed"> </iframe>
                <iframe id="coach-fbx" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/791e22a2678e4e05b56df1107dd1f8e8/embed"> </iframe>
            </div>
        </div>

            <!-- Adding label and text input for "Question:" -->
            <div class="card" id="QA-card">
                <label class="card-text" id="question-title" for="input-question">Question:</label>
                <input type="text" id="input-question" name="question" placeholder="Enter your question" style="width: 200px;">
                <button class="card-button" id="ask-button">Ask</button>
                <textarea id="generatedText" rows="4" cols="50" readonly style="width: 300px; height: 300px;"></textarea>
            </div>
        </div>
    </body>
</html>